* {
  box-sizing: border-box;
  margin: 0.09% 0;
}

@media screen and (min-width: 1139px) {
  .for-mobile {
    display: none;
  }
  
  body {
    background-color: #e0d0a7;
    color: #454445;
    overflow-x: hidden;
  }

  header {
    background-color: rgba(42, 42, 43, 255);
    color: rgba(224, 208, 167, 255);
  }

  header h1 {
    text-align: left;
    font-size: 2em;
    font-weight: lighter;
    color: rgba(224, 208, 167, 255);
    text-shadow: 2px 2px #545554;
  }

  header span {
    display: inline-block;
    width: 55%;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
  }

  header nav {
    display: inline-block;
    width: 38%;
    margin: 0 0 0 6%;
  }

  header nav a {
    display: inline-block;
    width: 23%;
    margin: 0.1%;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    color: rgba(224, 208, 167, 255);
    text-decoration: none;
  }

  header nav a:visited {
    color: rgba(224, 208, 167, 255);
  }

  header nav a:hover {
    color: #545554;
    border-left: 1px solid rgba(224, 208, 167, 255);
    border-right: 1px solid rgba(224, 208, 167, 255);
  }
  /* .current{
    color: rgba(42,42,43,255);
    background-color: rgba(224,208,167,255);
  } */

  body > h1,
  section > h1 {
    text-align: center;
    font-size: 2.5em;
    color: #545554;
  }

  .home {
    display: inline-block;
    margin: 1% 2% 1% 8%;
    padding: 2% 4% 1% 2%;
    width: 20%;
    text-align: left;
    font-size: 1.4em;
    border-left: 8px #454445 solid;
    /*border-right: 4px #454445 solid;*/
    background-image: url("../images/home-quote-cover-pexels-photo-768473.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home h2 {
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px green;
  }

  .intro {
    margin: 1% 1% 1% 7%;
    display: inline-block;
    width: 50%;
    padding: 0 2%;
  }

  .intro h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 1% 2%;
    text-decoration: double underline 1.8px;
  }

  .intro p {
    font-size: 1.3em;
    text-align: justify;
    line-height: 1.3em;
  }

  .intro span {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 1.7em;
  }

  hr {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .subscription {
    width: 50%;
    margin: 0 auto;
    font-size: 2em;
  }
  /* Work on this subscription class*/

  #acknowledgement {
    display: block;
    margin: 0 auto;
    width: 1036.8px;
    height: 691.2px;
    background-color: lightseagreen;
    background-image: url("../images/acknowledgement-cover2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 2%;
  }

  #acknowledgement h3 {
    margin: 5% auto;
    text-align: center;
    font-size: 3em;
    color: rgba(187, 245, 153, 0.871);
  }
  #acknowledgement p {
    width: 80%;
    margin: 7% auto;
    color: rgba(187, 245, 153, 0.871);
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  footer nav {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  footer nav a {
    display: inline-block;
    margin: 0 1%;
    padding: 1% 3%;
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(42, 42, 43, 255);
  }

  footer nav a:visited {
    color: rgba(42, 42, 43, 255);
  }

  footer nav a:hover {
    color: rgba(224, 208, 167, 255);
    background-color: rgba(42, 42, 43, 255);
  }

  footer span {
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 1.3em;
    padding-right: 1%;
  }

  /* Following CSS for Blogs page */
  
  .slide-in-r, .slide-in-l{
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
  }
  
  .slide-in-r {
    transform: translateX(-50%);
  }
  
  .slide-in-l {
    transform: translateX(50%);
  }
  
  .slide-in-l.appear, .slide-in-r.appear {
    transform: translateX(0);
    opacity: 1;
  }
  
  article {
    display: inline-block;
    width: 70%;
    margin: 4% 15%;
    border: 2px solid rgba(42, 42, 43, 255);
    padding: 1%;
  }

  article img {
    width: 50%;
    margin: 0;
    float: left;
  }

  article h3 {
    float: left;
    width: 40%;
    font-size: 2.3em;
    margin: 2% 2% 0;
    padding: 1% 0;
  }

  article span {
    clear: both;
    display: inline-block;
    width: 40%;
    margin: 3% 2% 0;
    padding: 5% 0 0;
    font-size: 1.2em;
  }

  .defaultmargin {
    clear: both;
    display: inline-block;
    margin: 1% 2% 0;
    padding: 0;
    font-size: 1.3em;
  }

  .readmore {
    display: inline-block;
    margin: 1% 2% 0;
    padding: 1%;
    text-align: center;
    background-color: #8b6430;
    border-radius: 10%;
    color: #000000;
  }

  article a {
    color: #000000;
    text-decoration: none;
  }

  article a:visited {
    color: #000000;
    text-decoration: none;
  }

  article a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  article a:focus {
    opacity: 0.8;
    text-decoration: underline;
  }

  /* This is for the .latestpost class (on home page) */

  .latestpost h2 {
    text-align: center;
    font-size: 2.5em;
    color: #545554;
  }

  .latestpost h3 {
    font-size: 2.5em;
  }

  .latestpost h3 a:hover {
    /* background-color: rgba(224,208,167,100); */
    text-decoration: underline 2px;
  }

  .latestpost article {
    width: 80%;
    margin: 2% 10%;
    padding: 4%;
    border: 4px dotted #545554;
    background-color: hsla(120, 1%, 33%, 0.4);
  }

  .latestpost span {
    color: #fff2d9;
  }

  /* Code for Contact.html page */

  h2 {
    text-align: center;
  }

  #contact-options {
    display: inline-block;
    width: 50%;
    margin: 5% 25%;
    text-align: center;
  }

  /*background-color: #545554;
color: rgba(224,208,167,255);*/

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  label {
    display: inline-block;
    width: 30%;
    margin: 0 5% 0 5%;
    text-align: center;
    font-size: 1.5em;
    padding: 1% 1%;
    border: solid 2px #000000;
  }

  #label-email:hover {
    background-color: #545554;
    color: rgba(224, 208, 167, 255);
  }

  #label-form:hover {
    background-color: #545554;
    color: rgba(224, 208, 167, 255);
  }

  #contact-form,
  #contact-email {
    display: none;
  }

  #contact-email h2 {
    text-align: center;
    font-size: 2em;
  }

  #contact-email p {
    text-align: center;
    font-size: 1.5em;
  }

  #contact-email button {
    padding: 1%;
    background-color: #8b6430;
    text-transform: uppercase;
    border-radius: 20%;
    font-size: 0.75em;
    margin: 1%;
  }

  #contact-email button:hover {
    border: 2px solid #000000;
    font-weight: bolder;
  }

  #pls-wait {
    clear: both;
    display: block;
    width: 35%;
    text-align: center;
    margin: 3% auto 0;
    font-size: 1.7em;
    color: hsl(120, 1%, 25%);
    /* text-shadow: 1px 1px rgba(255, 0, 0, 0.7); */
    /* background-color: #ffffff; */
  }

  /* Code for Blog Posts */

  /* Common Blog Post Code */

  .blog-title {
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
  }

  #div-for-prev {
    position: relative;
    bottom: 10px;
    float: left;
    margin-left: 1%;
    width: 70px;
    height: 70px;
    background-image: url(../images/blog-left-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #div-for-next {
    position: relative;
    bottom: 10px;
    float: right;
    margin-right: 1%;
    width: 70px;
    height: 70px;
    background-image: url(../images/blog-right-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .not-available {
    visibility: hidden;
  }

  #blog-cover {
    display: block;
    width: 40%;
    margin: 0 auto;
  }

  #blogpost {
    clear: both;
    display: block;
    border: none;
    width: 80%;
    margin: 0 auto;
    font-size: 1.4em;
    padding: 5% 0;
  }

  .dear-reader {
    width: 90%;
    margin: 1% auto 4%;
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    padding: 1% 0;
  }

  #blogpost p {
    display: block;
    padding: 0.8% 2%;
    text-align: justify;
  }

  .drop-cap {
    font-weight: bolder;
    font-size: 4em;
    float: left;
    width: auto;
    padding: 0;
    margin: 0 1% 0 0;
  }

  .div-for-blog-img {
    display: block;
    margin: 3% auto;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blog-nav {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .blog-nav a {
    text-decoration: none;
    color: #545554;
  }

  .blog-links {
    display: inline-block;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 1% 0;
  }

  #prev-blog {
    width: 30%;
    text-align: left;
    margin: 0 19% 0 0;
  }

  #next-blog {
    width: 30%;
    text-align: right;
    margin: 0 0 0 19%;
  }

  /* Custom code for individual blogs */

  /* Blog 1 */

  /* No Custom Code required as of now! */

  /* Blog 2 */

  .blog2-list {
    list-style-type: circle;
    line-height: 1.7em;
    font-size: 1.1em;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 60%;
    border-left: 5px #545554 solid;
  }

  .blog2-list li {
    margin-left: 1%;
  }

  #blog2-flower-pic {
    background-image: url(../images/blog2-pic2-pexels-photo-733112.jpeg);
  }

  .bibliography {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .bibliography h2 {
    font-size: 2em;
    padding: 1% 0;
  }

  .bibliography p {
    font-size: 1.3em;
    margin: 2% 0;
    padding: 1%;
  }

  .bibliography li {
    font-size: 1.3em;
    padding: 0.5% 0;
  }

  /* Blog 3 */

  #blog3-google-search {
    width: 715px;
    height: 340px;
    background-image: url(../images/Screenshot_2.png);
  }

  #blog3-quote {
    display: block;
    font-size: 1.3em;
    width: 90%;
    margin: 2% auto;
    padding: 1%;
    border-left: 10px #0e0504 solid;
    background-color: rgba(75, 31, 14, 0.8);
    color: rgba(224, 208, 167, 255);
    text-shadow: 2px 2px rgba(76, 33, 15, 1);
  }

  #blog3-quote cite {
    display: inline-block;
    width: 90%;
    text-align: right;
    margin-right: 10%;
  }

  #blog3-minecraft {
    background-image: url(../images/blog3-cover2.jpeg);
  }

  /* Blog 4 */

  #blog4-teddy-pic {
    background-image: url(../images/blog4-cover1-pexels-photo-207891.jpeg);
  }

  #blog4-perspective-quote {
    background-image: url(../images/Just-because-youre-right-doesnt-mean-i-m-wrong-you-just-havent-seen-life-from-my-position.jpg);
  }

  /* Code for About Me page */

  #author-pic {
    float: left;
    width: 20%;
    border-radius: 100%;
    margin: 0 5% 0 9%;
    border: 2px solid #000000;
  }

  .about-me p {
    width: 65%;
    font-size: 1.5em;
    margin: 2% 3% 2% 30%;
    line-height: 1.29em;
  }
}
