* {
  box-sizing: border-box;
  margin: 0.09% 0;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .non-mobile {
    display: none;
  }

  header {
    background-color: rgba(42, 42, 43, 255);
    color: rgba(224, 208, 167, 255);
    padding-bottom: 5%;
  }

  header img {
    width: 30vw;
    float: left;
    margin: 1.5vw 3%;
  }

  header h1 {
    display: inline-block;
    width: 60vw;
    margin: 4vw 0;
    text-align: left;
    font-size: 2em;
    font-weight: lighter;
    color: rgba(224, 208, 167, 255);
    text-shadow: 2px 2px hsl(120, 1%, 40%);
  }

  header span {
    margin: 0 0 0 7%;
    display: block;
    width: 69%;
    text-align: justify;
    font-size: 0.8em;
  }

  .nav-toggle-btn {
    width: 50px;
    height: 50px;
    background-color: hsl(45, 100%, 40%);
    border-radius: 10%;
    border: none;
    float: right;
    margin-right: 20px;

    position: absolute;
    right: 0;
    top: 120px;
  }

  .nav-toggle-btn img {
    width: 95%;
  }

  #hidden-mob-nav {
    display: none;
  }

  #hidden-mob-nav {
    width: 80%;
    margin: 7% auto 0;
  }

  #hidden-mob-nav a:link {
    display: block;
    margin: 3% auto;
    padding: 5%;
    font-size: 1.5em;
    text-align: left;
    background-color: hsl(45, 100%, 30%);
    text-decoration: none;
    font-weight: bolder;
    color: white;
    text-shadow: black 1px 1px;
    border-radius: 2%;
  }

  #hidden-mob-nav a:visited {
    text-decoration: none;
    color: white;
  }

  body {
    background-color: #e0d0a7;
    color: #454445;
  }

  body > h1,
  section > h1 {
    text-align: center;
    font-size: 2em;
    color: #545554;
  }

  .home {
    display: block;
    width: 90%;
    margin: 3% auto;
    text-align: center;
    font-size: 0.8em;
    background-color: #86592d;
    color: black;
    padding: 10% 5%;
    background-image: url(../images/home-quote-cover-pexels-photo-768473.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px green;
  }

  .intro {
    display: block;
    margin: 5% auto;
    width: 90%;
    padding: 0 3%;
  }

  .intro h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 2%;
    text-decoration: double underline 1.8px;
  }

  .intro p {
    font-size: 1em;
    text-align: justify;
    margin: 0 0 7%;
    padding: 1% 0;
  }

  .intro span {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 1.5em;
  }

  hr {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #acknowledgement {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: lightseagreen;
    background-image: url(../images/acknowledgement-cover2.jpg);
    background-size: cover;
    padding: 15% 5%;
  }

  #acknowledgement h3 {
    margin: 5% auto;
    text-align: center;
    font-size: 1.5em;
    color: rgba(187, 245, 153, 0.871);
  }

  #acknowledgement p {
    width: 90%;
    margin: 10% auto;
    color: rgba(187, 245, 153, 0.871);
    text-align: justify;
    font-size: 0.9em;
  }

  footer nav {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  footer nav a {
    display: inline-block;
    margin: 0 2%;
    padding: 1% 3%;
    font-size: 1em;
    text-decoration: none;
    color: rgba(42, 42, 43, 255);
  }

  footer nav a:visited {
    color: rgba(42, 42, 43, 255);
  }

  footer nav a:hover {
    color: rgba(224, 208, 167, 255);
    background-color: rgba(42, 42, 43, 255);
  }

  footer span {
    margin-top: 2%;
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 1em;
    padding-right: 1%;
  }

  /* Following CSS for Blogs page */

  article {
    display: block;
    width: 90%;
    margin: 10% auto;
    border: 2px solid rgba(42, 42, 43, 255);
    padding: 2.7% 1%;
    text-align: center;
  }

  article img {
    width: 90%;
    margin: 1%;
  }

  article h3 {
    width: 100%;
    font-size: 2em;
    margin: 2% 2%;
    padding: 1% 0;
  }

  article span {
    clear: both;
    display: block;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    padding: 8% 0 0;
    font-size: 1em;
  }

  .defaultmargin {
    clear: both;
    display: inline-block;
    margin: 1% 2% 0;
    padding: 0;
    font-size: 1.3em;
  }

  .readmore {
    display: inline-block;
    margin: 3% 2%;
    padding: 3%;
    text-align: center;
    background-color: #8b6430;
    border-radius: 10%;
    color: #000000;
    outline: none;
    border: solid 1px #000000;
  }

  .date-for-mob {
    display: block;
    width: 100%;
    margin: 5% auto 0;
    text-align: right;
    font-size: 1.2em;
  }

  article a {
    color: #000000;
    text-decoration: underline;
  }

  article a:visited {
    color: #000000;
  }

  article a:hover {
    opacity: 0.8;
  }

  article a:focus {
    opacity: 0.8;
  }

  /* This is for the .latestpost class (on home page) */

  .latestpost h2 {
    text-align: center;
    font-size: 2em;
    color: #545554;
  }

  /* Code for Contact.html page */

  h2 {
    text-align: center;
  }

  #contact-options {
    display: block;
    width: 90%;
    margin: 5% auto;
    text-align: center;
  }

  /*background-color: #545554;
color: rgba(224,208,167,255);*/

  input {
    opacity: 0;
    cursor: pointer;
  }

  label {
    display: block;
    width: 50%;
    margin: 1% auto;
    text-align: center;
    font-size: 1.5em;
    padding: 4% 1%;
    border: solid 2px #000000;
  }

  #label-email:hover {
    background-color: #545554;
    color: rgba(224, 208, 167, 255);
  }

  #label-form:hover {
    background-color: #545554;
    color: rgba(224, 208, 167, 255);
  }

  #contact-form,
  #contact-email {
    display: none;
  }

  #contact-email h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 5% auto;
  }

  #contact-email p {
    text-align: center;
    font-size: 1.3em;
  }

  #contact-email button {
    padding: 5%;
    background-color: #8b6430;
    text-transform: uppercase;
    border-radius: 20%;
    font-size: 1em;
    margin: 5% auto;
  }

  #contact-email button:hover {
    border: 2px solid #000000;
    font-weight: bolder;
  }

  #pls-wait {
    clear: both;
    display: block;
    width: 90%;
    text-align: center;
    margin: 7% auto 0;
    font-size: 1.3em;
    color: hsl(120, 1%, 25%);
    /* text-shadow: 1px 1px rgba(255, 0, 0, 0.7); */
    /* background-color: #ffffff; */
  }

  /* Code for Blog Posts */

  /* Common Blog Post Code */

  .mob-adjust {
    height: 7vh;
  }

  .blog-title {
    font-size: 2.4em;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10% 1%;
  }

  #div-for-prev {
    float: left;
    margin-left: 3%;
    width: 50px;
    height: 50px;
    background-image: url(../images/blog-left-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #div-for-next {
    float: right;
    margin-right: 3%;
    width: 50px;
    height: 50px;
    background-image: url(../images/blog-right-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .not-available {
    visibility: hidden;
  }

  #blog-cover {
    display: block;
    width: 90%;
    margin: 5% auto;
  }

  #blogpost {
    clear: both;
    display: block;
    border: none;
    width: 90%;
    margin: 3% auto;
    font-size: 1em;
    padding: 5% 0;
  }

  .dear-reader {
    width: 100%;
    margin: 1% auto 5%;
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    padding: 2% 0;
  }

  #blogpost p {
    display: block;
    padding: 5% 2%;
    text-align: justify;
  }

  .drop-cap {
    font-weight: bolder;
    font-size: 4em;
    float: left;
    width: auto;
    padding: 0;
    margin: 0 3% 0 2%;
  }

  .div-for-blog-img {
    display: block;
    margin: 5% auto;
    width: 90vw;
    height: 90vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blog-nav {
    display: block;
    width: 100%;
    margin: 5% auto;
  }

  .blog-nav a {
    text-decoration: none;
    color: #545554;
  }

  .blog-links {
    display: inline-block;
    width: 49vw;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding: 4% 10%;
  }

  #prev-blog {
    border-right: 3px solid grey;
  }

  #next-blog {
    border-left: 3px solid grey;
  }

  /* Custom code for individual blogs */

  /* Blog 1 */

  /* No Custom Code required as of now! */

  /* Blog 2 */

  .blog2-list {
    list-style-type: disc;
    line-height: 1.3em;
    font-family: century;
    font-size: 1.1em;
    margin: 3% 0 3% 7%;
    width: 80%;
    border-left: 5px #545554 solid;
    text-align: left;
    padding: 5% 6%;
  }

  .blog2-list li {
    margin: 7% 0;
  }

  #blog2-flower-pic {
    background-image: url(../images/blog2-pic2-pexels-photo-733112.jpeg);
  }

  .bibliography {
    display: block;
    width: 100%;
    margin: 5% 0;
    padding: 0;
  }

  .bibliography h2 {
    font-size: 1.9em;
    padding: 1% 0;
    margin-bottom: 5%;
  }

  .bibliography p {
    font-size: 0.9em;
    width: 80%;
    margin: 2% auto;
    text-align: left;
  }

  .bibliography ul {
    margin: 2% 0;
    list-style: square;
    width: 50%;
  }

  .bibliography li {
    font-size: 0.9em;
    padding: 2% 0;
  }

  /* Blog 3 */

  #blog3-google-search {
    width: 85.8vw;
    height: 40.8vw;
    background-image: url(../images/Screenshot_2.png);
  }

  #blog3-quote {
    display: block;
    font-size: 1.1em;
    width: 100%;
    margin: 2% auto;
    padding: 3%;
    border-left: 10px #0e0504 solid;
    background-color: rgba(75, 31, 14, 0.8);
    color: rgba(224, 208, 167, 255);
    text-shadow: 2px 1px #000000;
  }

  #blog3-quote cite {
    display: inline-block;
    width: 90%;
    text-align: right;
    margin: 1% 0 1%;
  }

  #blog3-minecraft {
    background-image: url(../images/blog3-cover2.jpeg);
  }

  /* Blog 4 */

  #blog4-teddy-pic {
    background-image: url(../images/blog4-cover1-pexels-photo-207891.jpeg);
  }

  #blog4-perspective-quote {
    background-image: url(../images/Just-because-youre-right-doesnt-mean-i-m-wrong-you-just-havent-seen-life-from-my-position.jpg);
  }

  /* Code for About Me page */

  #author-pic {
    display: block;
    width: 65%;
    border-radius: 100%;
    margin: 0 auto;
    border: 2px solid #000000;
  }

  .about-me p {
    width: 80%;
    font-size: 1em;
    margin: 8% auto;
    line-height: 1.3em;
    text-align: justify;
  }

  /* Extra General code */

  .clear-both {
    clear: both;
  }
}
